.open {
    border: 3px solid black;
    width: 80%;
    margin: auto;
    padding: 10%;
    display: flex;
    justify-content: center;

}
.input-open{
    width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.button-open {
    width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box
}